/* 
  Generic styles used across the site go here in base.css.
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Karla', sans-serif;
}
