@import url('./base.css');
/* 
  Only styles for index.html go here,
  take a look at the STYLE_GUIDE.md to get a better understanding of CSS Variables and importing fonts & other stylesheets.
*/

/* 
  
*/

/* section-hero */
.section-hero {
  background-color: var(--clr);
}

.hero {}

.hero-text-box {}

.hero-text {
  margin-bottom: var(--spacing-12);
}

.hero-text:last-of-type {
  margin-bottom: var(--spacing-24);
}

.link--hero {
  padding: var(--spacing-16) var(--spacing-24);
  border: 2px solid var(--clr-stroke);
  border-radius: 0.8rem;
  color: var(--clr-button-text);
  background-color: var(--clr-button);
  box-shadow: 0 0.4rem 0.4rem -0.5rem var(--clr-shadow);
}

.scrimba {
  background-color: var(--clr-button-plus);
}

/* 
  This targets the img container so it can centered 
  within the grids cell
*/
.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  max-width: 50rem;
  filter: contrast(0.85) saturate(0.95) brightness(1.1);
}

.hero-img:hover {
  cursor: pointer;
  transform: scale(1.6);
  transition: all 0.8s ease-in-out;
}

.done-by {
  font-size: var(--font-12);
  line-height: var(--line-height-15);
  letter-spacing: var(--letter-space-n05);
}

.done-by--link,
.done-by--link:link,
.done-by--link:visited {
  display: inline-block;
  font-size: var(--font-14);
  font-weight: var(--font-weight-500);
  text-decoration: none;
  color: var(--clr-paragraph);
}

.done-by--link:hover,
.done-by--link:active {
  border-bottom: 1px solid var(--clr-paragraph);
}


/* 
  moving rainbow gradient effect on the Current Local time text
*/

#current-local-time{
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out 1s infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/* 
  CSS hover effects for links
*/

.hover-effect:hover {
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}