@import url('./base.css');
@import url('./darkmode.css');
/* 
  Only styles for index.html go here,
  take a look at the STYLE_GUIDE.md to get a better understanding of CSS Variables and importing fonts & other stylesheets.
*/

/* ===========================
       header elements 
=========================== */

.header {
  display: flex;
  position: fixed;
  /* right: 0; */
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-8) var(--spacing-16);
}

.nav-bar {
  display: flex;
  gap: var(--spacing-16);
}

.nav-item {
  font-weight: 500;
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  text-decoration: underline;
  box-shadow: unset;
}

/* ===========================
         section-hero 
=========================== */

.section-hero {}

.hero {}

.hero-text-box {}

.hero-text {
  margin-bottom: var(--spacing-12);
}

.hero-text:last-of-type {
  margin-bottom: var(--spacing-24);
}

.link--hero {
  text-align: center;
  padding: var(--spacing-16) var(--spacing-24);
  border: 2px solid var(--clr-stroke);
  border-radius: 0.8rem;
  color: var(--clr-button-text);
  background-color: var(--clr-button);
  box-shadow: 0 0.4rem 0.4rem -0.5rem var(--clr-shadow);
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  max-width: 50rem;
  filter: contrast(0.85) saturate(0.95) brightness(1.1);
  transition: all 0.8s ease-in-out;
}

.hero-img:hover {
  cursor: pointer;
  transform: scale(1.6);
}

.current-local-time {
  text-align: right;
  font-size: var(--font-24);
  background: linear-gradient(to right,
      #3c3cbd,
      #0059ff,
      #8f6901,
      #ff3399,
      #3f3fd1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 10s 1s infinite;
  background-size: 400% 100%;
  margin-bottom: var(--spacing-4);
  z-index: 1;
}

.scrimba {
  background-color: var(--clr-button-plus);
}

/* =============================
 moving rainbow gradient effect
============================= */

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

/* ================================
       section scrimba-likes 
================================ */

.section-scrimba-contributors {}

.scrimba-contributors {}

.scrimba-contributors--container {
  position: relative;
  padding: 1rem 4rem;
  width: 100%;
  row-gap: var(--spacing-32);
}

.scrimba-contributors-card {
  border: 2px solid var(--clr-stroke);
  border-radius: 0.8rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--clr-accent-tint);
}

.scrimba-contributors--user-img-box {
  flex: 1;
  border: 2px solid var(--clr-stroke);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.2) translateX(-10%);
  box-shadow: 0 0 0.4rem -0.2rem var(--clr-shadow);
  overflow: hidden;
}

.scrimba-contributors--user-img {
  border-radius: 50%;
  width: 100%;
  transition: transform 0.25s ease-in;
}

.scrimba-contributors-card:hover .scrimba-contributors--user-img {
  transform: scale(1.1);
}

.scrimba-contributors--user-text-box {
  flex: 3;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.user-text-box-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--spacing-16);
}

.username-container {
  display: flex;
  flex-direction: column;
}

.scrimba-contributors--username {
  font-size: var(--font-24);
  font-weight: var(--font-weight-500);
  margin-bottom: var(--spacing-2);
}

.scrimba-contributors--link {
  position: relative;
  width: fit-content;
  font-size: var(--font-14);
  color: inherit;
  text-decoration: none;
  margin-bottom: var(--spacing-8);
  cursor: pointer;
}

.scrimba-contributors--link::after {
  content: 'GitHub';
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0.3rem 0.7rem;
  border-radius: 0.8rem;
  transform: translate(100%, -45%);
  font-size: var(--font-14);
  font-weight: var(--font-weight-700);
  color: var(--clr-accent-tint);
  background-color: var(--clr-paragraph);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0, 0, 0.6, 1), opacity 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.scrimba-contributors-card:hover .scrimba-contributors--link::after {
  opacity: 1;
  transform: translate(110%, -45%);
}

.scrimba-contributors--fav-icecream {
  font-size: var(--font-14);
  font-weight: var(--font-weight-500);
}

.scrimba-contributors--location {
  margin-left: auto;
  font-size: var(--font-14);
  font-weight: var(--font-weight-500);
}

.scrimba-contributors--user-comment {
  font-size: var(--font-16);
}

.load-more {
  padding: 1rem;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-button);
  transition: transform 0.15s cubic-bezier(0, 0, 0.6, 1), box-shadow 0.15s cubic-bezier(0, 0, 0.6, 1);
  cursor: pointer;
}

.load-more:hover {
  transform: translate(-50%, 4.8rem);
  box-shadow: 0 0.4rem 0.4rem -0.4rem var(--clr-shadow);
}

.load-more--icon {
  width: 2rem;
  height: 2rem;
  color: var(--clr-paragraph);
}

/* =========================
       section footer
========================= */

.done-by {
  font-size: var(--font-12);
  line-height: var(--line-height-15);
  letter-spacing: var(--letter-space-n05);
}

.done-by--link,
.done-by--link:link,
.done-by--link:visited {
  display: inline-block;
  font-size: var(--font-14);
  font-weight: var(--font-weight-500);
  text-decoration: none;
  color: var(--clr-paragraph);
}

.done-by--link:hover,
.done-by--link:active {
  border-bottom: 1px solid var(--clr-paragraph);
}

/* ============================
  CSS hover effects for links
============================ */

.hover-effect:hover {
  background: #8A2387;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

/* ===========================
      Theme Switch CSS
=========================== */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9e9e9;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 3px #000;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-image: url('../images/hero/sun.png');
  background-size: cover;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(254, 237, 91);
  box-shadow: 0 0 3px #000;
}
