/* ==========================
      Nav Styles
========================== */

.main-container,
.side-nav {
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.52, 0.18, 0.29, 0.78); /* custom */
}

.shift {
  transform: translateX(-60vw);
}

.material-symbols-rounded {
  font-size: 5rem;
  color: var(--clr-blinding-light);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}

.current {
  color: var(--clr-accent);
}

.nav-desktop {
  display: none;
}

.nav-bar {
  width: 100%;
}

.nav-mobile {
  display: flex;
  gap: var(--spacing-24);
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  font-family: var(--typeface-karla);
  font-weight: var(--font-weight-700);
  font-size: var(--font-24);
  text-decoration: none;
  letter-spacing: 0.1rem;
  background: linear-gradient(
    to bottom,
    var(--clr-blinding-light),
    var(--clr-blinding-light) 63%,
    var(--clr-background-tint) 63%,
    var(--clr-background-tint) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  line-height: normal;
}

.nav-span {
  position: relative;
}

/* Creates the bar under the text */
.nav-span:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.75rem;
  background: var(--clr-paragraph);
  bottom: 0.31rem;
  transition: all 0.2s ease-out;
  border-radius: 0.125rem;
}

.nav-item:hover,
.nav-item:focus,
.nav-item-current {
  background-position: 0 4px;
  color: var(--clr-blinding-light);
}

.nav-span:hover::before,
.nav-span:has(.nav-item:focus)::before,
.nav-span-current::before {
  transform: translateY(10px);
  background: var(--clr-accent);
}

.nav-span-current:before {
  height: 4px;
  bottom: 6px;
}

/* ==========================
      Side Nav
========================== */

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--clr-blueberry-pastel-dark);
  padding: 4rem 2rem;
  box-shadow: -0.4rem 0 0.6rem -0.5rem var(--clr-shadow);
}

.switch-side-nav {
  position: relative !important; /* !important is needed to override the index.css because nav is imported into it, index.css has more specificity */
  margin-left: auto;
}

/* ==========================
      Media Queries
========================== */

/* 768px / 16 = 49em */
@media only screen and (min-width: 48em) {
  .nav-bar {
    margin: 0 auto;
    max-width: 120rem;
    min-width: 29rem;
    padding: 0 var(--spacing-48);
  }

  .side-nav {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    gap: var(--spacing-24);
    align-items: center;
    justify-content: space-evenly;
  }
}

/* 
    Mobile Safari automatically scales text if it thinks the text will render too small.
    It was causing issues with the alinement of the .nav-span::before on mobile safari.
    -webkit-text-size-adjust: 100%, fixes it 
*/
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
  }

  /* 
    This removes the hover effect. It doesn't work/look good on mobile.
  */
  .nav-span:hover::before,
  .nav-span:has(.nav-item:focus)::before {
    transform: none;
    background-color: inherit;
  }
}
